version: '2.1'
services:
  zookeeper:
    image: debezium/zookeeper:${DEBEZIUM_VERSION}
    ports:
     - 2181:2181
     - 2888:2888
     - 3888:3888
  kafka:
    image: debezium/kafka:${DEBEZIUM_VERSION}
    ports:
     - 9092:9092
    links:
     - zookeeper
    environment:
     - ZOOKEEPER_CONNECT=zookeeper:2181
     # For local debugging of Main
     # - ADVERTISED_HOST_NAME=192.168.1.3
  postgres:
    image: debezium-examples/kstreams-live-update-postgres:${DEBEZIUM_VERSION}
    build:
      context: postgres-db
    ports:
     - 5432:5432
    healthcheck:
      test: "/usr/bin/psql -U postgres -c 'SELECT 1'"
      interval: 2s
      timeout: 20s
      retries: 10
    environment:
     - PG_MODE=primary
     - PG_PRIMARY_PORT=5432
     - POSTGRES_USER=postgres
     - PG_DATABASE=inventory
     - POSTGRES_PASSWORD=debezium
     - PG_PASSWORD=not
     - PG_ROOT_PASSWORD=matter
     - PG_USER=debezium
  connect:
    image: debezium-examples/kstreams-live-update-connect-es:${DEBEZIUM_VERSION}
    build:
      context: debezium-es
    ports:
     - 8083:8083
     - 5005:5005
    links:
     - kafka
     - postgres 
    environment:
     - BOOTSTRAP_SERVERS=kafka:9092
     - GROUP_ID=1
     - CONFIG_STORAGE_TOPIC=my_source_connect_configs
     - OFFSET_STORAGE_TOPIC=my_source_connect_offsets
     - STATUS_STORAGE_TOPIC=my_connect_statuses
     - KAFKA_DEBUG=true
     - DEBUG_SUSPEND_FLAG=n
     - JAVA_DEBUG_PORT=0.0.0.0:5005
  event-source:
    image: debezium-examples/kstreams-live-update-event-source:${DEBEZIUM_VERSION}
    build:
      context: event-source
    links:
     - postgres
    environment:
     - DATABASE_SERVER=postgres 
     - JAVA_MAIN_CLASS=io.debezium.examples.kstreams.liveupdate.eventsource.Main
    depends_on:
      postgres:
        condition: service_healthy
  aggregator:
    image: debezium-examples/kstreams-live-update-aggregator:${DEBEZIUM_VERSION}
    build:
      context: aggregator
    ports:
     - 8079:8079
    links:
     - kafka
    environment:
     - PORT=8079
     - QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=kafka:9092
    depends_on:
     - connect
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.0
    ports:
     - "9200:9200"
    environment:
     - http.host=0.0.0.0
     - transport.host=127.0.0.1
     - xpack.security.enabled=false
     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
