services:
  kafka:
    image: quay.io/debezium/kafka:${DEBEZIUM_VERSION}
    ports:
      - 9092:9092
      - 9093:9093
    environment:
      - CLUSTER_ID=oh-sxaDRTcyAr6pFRbXyzA
      - NODE_ID=1
      - NODE_ROLE=combined
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_LISTENERS=PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      # For local development of auditlog-enricher
      # - ADVERTISED_HOST_NAME=192.168.1.6
      - KAFKA_GROUP_MIN_SESSION_TIMEOUT_MS=250

  vegetables-db:
    image: quay.io/debezium/example-postgres:${DEBEZIUM_VERSION}
    ports:
     - 5432:5432
    environment:
     - POSTGRES_USER=postgresuser
     - POSTGRES_PASSWORD=postgrespw
     - POSTGRES_DB=vegetablesdb

  connect:
    image: quay.io/debezium/connect:${DEBEZIUM_VERSION}
    ports:
     - 8083:8083
    depends_on:
     - kafka
     - vegetables-db
    environment:
     - BOOTSTRAP_SERVERS=kafka:9092
     - GROUP_ID=1
     - CONFIG_STORAGE_TOPIC=my_source_connect_configs
     - OFFSET_STORAGE_TOPIC=my_source_connect_offsets
     - STATUS_STORAGE_TOPIC=my_source_connect_statuses
     - CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE=false
     - CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE=false

  vegetables-service:
    image: debezium-examples/auditing-vegetables-service:${DEBEZIUM_VERSION}
    build:
      context: vegetables-service
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
     - 8080:8080
    depends_on:
     - vegetables-db

  log-enricher:
    image: debezium-examples/auditing-log-enricher:${DEBEZIUM_VERSION}
    build:
      context: log-enricher
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
     - 8081:8080
    depends_on:
     - kafka
    environment:
     - QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=kafka:9092

  admin-service:
    image: debezium-examples/auditing-admin-service:${DEBEZIUM_VERSION}
    build:
      context: admin-service
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
     - 8085:8080
    depends_on:
     - kafka
    environment:
     - MP_MESSAGING_INCOMING_VEGETABLES_BOOTSTRAP_SERVERS=kafka:9092
     - MP_MESSAGING_INCOMING_TRANSACTIONS_BOOTSTRAP_SERVERS=kafka:9092
     - MP_MESSAGING_OUTGOING_MISSINGTRANSACTIONS_BOOTSTRAP_SERVERS=kafka:9092
