version: '2.1'
services:
  zookeeper:
    image: debezium/zookeeper:${DEBEZIUM_VERSION}
    ports:
     - 2181:2181
     - 2888:2888
     - 3888:3888
  kafka:
    image: debezium/kafka:${DEBEZIUM_VERSION}
    ports:
     - 9092:9092
    links:
     - zookeeper
    environment:
     - ZOOKEEPER_CONNECT=zookeeper:2181
     # For local debugging of Main
     # - ADVERTISED_HOST_NAME=192.168.1.3
  order-db:
    image: debezium/example-postgres:${DEBEZIUM_VERSION}
    ports:
     - "5432:5432"
    environment:
     - POSTGRES_USER=postgresuser
     - POSTGRES_PASSWORD=postgrespw
     - POSTGRES_DB=orderdb
  shipment-db:
    image: debezium/example-mysql:${DEBEZIUM_VERSION}
    ports:
     - 3306:3306
    environment:
     - MYSQL_ROOT_PASSWORD=debezium
     - MYSQL_USER=mysqluser
     - MYSQL_PASSWORD=mysqlpw
  shipment-db-quarkus:
    image: mariadb/server
    ports:
     - "33306:3306"
    environment:
     - MARIADB_USER=mariadbuser
     - MARIADB_PASSWORD=mariadbpw
     - MARIADB_DATABASE=shipmentdb
     - MARIADB_RANDOM_ROOT_PASSWORD=true
  connect:
    image: debezium-examples/connect-with-event-routing-smt:${DEBEZIUM_VERSION}
    build:
      context: event-routing-smt
    ports:
     - 8083:8083
     - 5005:5005
    links:
     - kafka
     - order-db
    environment:
     - BOOTSTRAP_SERVERS=kafka:9092
     - GROUP_ID=1
     - CONFIG_STORAGE_TOPIC=my_source_connect_configs
     - OFFSET_STORAGE_TOPIC=my_source_connect_offsets
     - STATUS_STORAGE_TOPIC=my_source_connect_statuses
     - CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE=false
     - CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE=false
     - KAFKA_DEBUG=true
     - DEBUG_SUSPEND_FLAG=n
  order-service:
    image: debezium-examples/outbox-order-service:latest
    build:
      context: order-service
    ports:
     - 8080:8080
     - 8787:8787
     - 9990:9990
    links:
     - kafka
     - order-db
  shipment-service:
    image: debezium-example/outbox-shipment-service:${DEBEZIUM_VERSION}
    build:
      context: shipment-service
    ports:
     - 8079:8079
    links:
     - kafka
     - shipment-db
    environment:
     #- JAVA_APP_JAR=shipment-thorntail.jar
     #- "JAVA_OPTIONS=-Djava.net.preferIPv4Stack=true -Dswarm.http.port=8079"
     #- AB_JOLOKIA_OFF=true
     #- AB_OFF=true
     #- KAFKA_SERVICE_HOST=kafka
     #- KAFKA_SERVICE_PORT=9092
     - BOOTSTRAP_SERVERS=kafka:9092
     - ORDER_TOPIC_NAME=OrderEvents
    depends_on:
     - connect
    command: >
      /bin/bash -c "
        java -jar /deployments/shipment-thorntail.jar -Djava.net.preferIPv4Stack=true -Dswarm.http.port=8079
      "
  shipment-service-quarkus:
    image: debezium-example/outbox-shipment-service-quarkus:${DEBEZIUM_VERSION}
    build:
      context: shipment-service-quarkus
    links:
     - kafka
     - shipment-db-quarkus
    depends_on:
     - connect
     - shipment-db-quarkus
    # Include artifial delay to allow dependencies to start - in production there should be a health check end and automated restart
    command: "/bin/bash -c \"sleep 5 && /deployments/application -Dquarkus.datasource.url=jdbc:mariadb://shipment-db-quarkus:3306/shipmentdb\""
