version: '2.1'
services:
  zookeeper:
    image: debezium/zookeeper:${DEBEZIUM_VERSION}
    ports:
     - 2181:2181
     - 2888:2888
     - 3888:3888
  kafka:
    image: debezium/kafka:${DEBEZIUM_VERSION}
    ports:
     - 9092:9092
    links:
     - zookeeper
    environment:
     - ZOOKEEPER_CONNECT=zookeeper:2181
     # For local debugging of Main
     # - ADVERTISED_HOST_NAME=192.168.1.3
  order-db:
    image: debezium/example-postgres:${DEBEZIUM_VERSION}
    ports:
     - "5432:5432"
    environment:
     - POSTGRES_USER=postgresuser
     - POSTGRES_PASSWORD=postgrespw
     - POSTGRES_DB=orderdb
  order-db-quarkus:
    image: debezium/example-postgres:${DEBEZIUM_VERSION}
    ports:
     - 5433:5432
    healthcheck:
      test: "pg_isready -U postgresuser -d orderdb"
      interval: 2s
      timeout: 20s
      retries: 10
    environment:
     - POSTGRES_USER=postgresuser
     - POSTGRES_PASSWORD=postgrespw
     - POSTGRES_DB=orderdb
     - PGPASSWORD=postgrespw
  shipment-db:
    image: debezium/example-mysql:${DEBEZIUM_VERSION}
    ports:
     - 3306:3306
    environment:
     - MYSQL_ROOT_PASSWORD=debezium
     - MYSQL_USER=mysqluser
     - MYSQL_PASSWORD=mysqlpw
  shipment-db-quarkus:
    image: mariadb/server
    ports:
     - "33306:3306"
    healthcheck:
      test: "/usr/bin/mysql -h shipment-db-quarkus --user=mariadbuser --password=mariadbpw --execute \"SELECT 1;\" shipmentdb"
      interval: 2s
      timeout: 20s
      retries: 10
    environment:
     - MARIADB_USER=mariadbuser
     - MARIADB_PASSWORD=mariadbpw
     - MARIADB_DATABASE=shipmentdb
     - MARIADB_RANDOM_ROOT_PASSWORD=true
     - MYSQL_INITDB_SKIP_TZINFO=1
  connect:
    image: debezium/connect:${DEBEZIUM_VERSION}
    ports:
     - 8083:8083
     - 5005:5005
    links:
     - kafka
     - order-db
     - order-db-quarkus
    environment:
     - BOOTSTRAP_SERVERS=kafka:9092
     - GROUP_ID=1
     - CONFIG_STORAGE_TOPIC=my_source_connect_configs
     - OFFSET_STORAGE_TOPIC=my_source_connect_offsets
     - STATUS_STORAGE_TOPIC=my_source_connect_statuses
     - CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE=false
     - CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE=false
     - KAFKA_DEBUG=true
     - DEBUG_SUSPEND_FLAG=n
  order-service:
    image: debezium-examples/outbox-order-service:latest
    build:
      context: order-service
    ports:
     - 8080:8080
     - 8787:8787
     - 9990:9990
    links:
     - kafka
     - order-db
  shipment-service:
    image: debezium-example/outbox-shipment-service:${DEBEZIUM_VERSION}
    build:
      context: shipment-service
    ports:
     - 8079:8079
    links:
     - kafka
     - shipment-db
    environment:
     #- JAVA_APP_JAR=shipment-thorntail.jar
     #- "JAVA_OPTIONS=-Djava.net.preferIPv4Stack=true -Dswarm.http.port=8079"
     #- AB_JOLOKIA_OFF=true
     #- AB_OFF=true
     #- KAFKA_SERVICE_HOST=kafka
     #- KAFKA_SERVICE_PORT=9092
     - BOOTSTRAP_SERVERS=kafka:9092
     - ORDER_TOPIC_NAME=order.events
    depends_on:
     - connect
    command: >
      /bin/bash -c "
        java -jar /deployments/shipment-thorntail.jar -Djava.net.preferIPv4Stack=true -Dswarm.http.port=8079
      "
  order-service-quarkus:
    image: debezium-example/outbox-order-service-quarkus:${DEBEZIUM_VERSION}
    build:
      context: order-service-quarkus
      dockerfile: src/main/docker/Dockerfile.native
    ports:
     - 8081:8080
    links:
     - kafka
     - order-db-quarkus
    depends_on:
      order-db-quarkus:
        condition: service_healthy
      connect:
        condition: service_started
    command: "./application -Dquarkus.datasource.url=jdbc:postgresql://order-db-quarkus:5432/orderdb?currentSchema=inventory -Dquarkus.datasource.username=postgresuser -Dquarkus.datasource.password=postgrespw"
  shipment-service-quarkus:
    image: debezium-example/outbox-shipment-service-quarkus:${DEBEZIUM_VERSION}
    build:
      context: shipment-service-quarkus
    links:
     - kafka
     - shipment-db-quarkus
    depends_on:
     shipment-db-quarkus:
        condition: service_healthy
     connect:
        condition: service_started
    command: "/deployments/application -Dquarkus.datasource.url=jdbc:mariadb://shipment-db-quarkus:3306/shipmentdb"
