name: Build [quarkus-native]

on:
  push:
    paths:
      - 'quarkus-native/**'
      - '.github/workflows/quarkus-native-workflow.yml'
  pull_request:
    paths:
      - 'quarkus-native/**'
      - '.github/workflows/quarkus-native-workflow.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21
      - uses: actions/checkout@v4
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('quarkus-native/**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Check changes in [quarkus-native] example
        run: cd quarkus-native && mvn clean package -Dnative
